mixin externalLink(href, extraClasses)
	- extraClasses = extraClasses || ''
	a(href= href target="_blank" class= extraClasses)
		block
		| 
		+fao('external-link','','in a new window')

mixin testingDocLink(heading,text,extraClasses)
	- extraClasses = extraClasses || ''
	- heading = heading || ''
	- var url="https://z.umn.edu/kkd-a11y-testing#heading="+heading
	+externalLink(url, extraClasses)
		=text

mixin howToCheck(heading)
	+testingDocLink(heading,"How to check", "btn btn-outline-dark btn-sm")

mixin fas(type,extraClasses,text)
	+fabase(type,extraClasses,text,"s")

mixin fao(type,extraClasses,text)
	+fabase(type,extraClasses,text,"r")

mixin fab(type,extraClasses,text)
	+fabase(type,extraClasses,text,"b")

mixin fal(type,extraClasses,text)
	+fabase(type,extraClasses,text,"l")

mixin fabase(type,extraClasses,text,fill, hidden)
	- extraClasses = extraClasses || ''
	- text = text || ''
	- var c='fa'+fill+' fa-'+type+' '+extraClasses+" faIcon"
	- var h = text === '' ? true : false
	- var t = text === '' ? false : text

	i(class=c aria-hidden=h title=t )
	
	//span.sr-only #{text}


mixin alert
	.alert.alert-warning
		+fas('bug','fa-2x','Bug')  
		block
mixin info
	.alert.alert-info
		+fas('info','fa-2x','Information')  
		block

mixin header_block(title, link)  
	header
		h3.main-title #{title}
		ul
			li
				a(href=link, target="_blank")

mixin footer
	footer
		small By Kim Doberstein - University of Minnesota 

mixin banner
	header
		.container
			.row
				.col-sm-12
					.page-header.h4
						|Web Accessibility Testing
						small For Everyone

				//- .col.d-none.d-lg-block
					.header-background

mixin headIncludes(pathToRoot)
	- pathToRoot = pathToRoot || ''
	- var assetsPath = pathToRoot+"assets/css/app.css"
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500" rel="stylesheet")
	link(href=assetsPath rel="stylesheet")
	script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	

mixin bodyIncludes(pathToRoot)
	- pathToRoot = pathToRoot || ''
	- pathToSkipTo = pathToRoot+"assets/vendor/skipto.min.js"
	- pathToJS = pathToRoot+"assets/javascripts/app.min.js"
	- pathToFontAwesome = pathToRoot+"assets/vendor/fontAwesome5/js/fontawesome-all.min.js"
	//script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
	script(src=pathToFontAwesome)
	script(src="https://unpkg.com/popper.js/dist/umd/popper.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
	script(src=pathToSkipTo)
	script(src=pathToJS)


mixin checkFor(title)
	li
		+fao('check-square','presentationRole')
		=title

mixin modal
	.modal#bs4Modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h2.modal-title.h5 Modal title goes here
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						+fas('times','','Close Modal')

				.modal-body
					|Modal body text goes here.

				.modal-footer
					|Modal footer buttons go here
